exports/
hijacks/
imports/
package/
packages/
lib/
whole_program_debug/
debug/
release/
.libraries*
.generated_files
.dlls
.executables
.interfaces
.libraries
.imports
.imports.xml
.smmakefirst
.cg*
.*tools-*
.xdcenv.mak
.bin-files,cmds
.src-files
.etc-files
.test-files
.all-files
.lib-files
.include-files
.changelog*
.tmp-imports*
.tmp*
package.mak
*.xem3
*.xe64T
*.xe674
*.o
genbase
*.sw*
.tests*
.nfs*
*.bin
readrprc
wrints
*.patch
*.tar
*.zip
*patch*
